@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
}

#game-content {
    height: 99vh;
    width: 99vw;
    border: 1px solid black;
    --widght: 0px;
    --height: 0px;
    --speed: 0;
    overflow: hidden;
}

body {
    overflow: hidden;
}

.particles-js-canvas-el {
    /* From https://css.glass */
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    filter: blur(8.6px);
    -webkit-filter: blur(8.6px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    z-index: -2;
    background: linear-gradient(90deg, hsl(240, 90%, 4%), hsl(199, 87%, 10%), hsl(212, 85%, 10%), hsl(212, 100%, 10%));
    background-size: 800% 800%;
}

#game-content[data-running="true"] .particles-js-canvas-el {
    animation: BackgroundGradient 59s ease infinite;
}

#game-content[data-running="false"] #score-displayer {
    display: none;
}

#game-content[data-running="true"] #score-displayer {
    position: absolute;
    top: 1vh;
    left: 1vw;
    min-width: 10vw;
    height: 10vh;
    background-color: red;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    display: flex;
    align-items: center;
    padding: 0 20px 0 20px ;

}

#game-content[data-running="true"] #score-displayer p {
    color: #fff;
    font-size: 3vw;
    font-weight: 700;
    font-family: Chakra Petch;
}

#game-content[data-running="true"] #dead-panel {
    display: none;
}

#game-content[data-running="false"] #dead-panel {
    display: block;
    width: 99%;
    height: 99%;
    margin-left: 0.25%;
    margin-top: 0.25%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.172);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgb(222, 222, 222);
    opacity: 1;
    animation: DeadPanelFadeIn 0.2s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    font-family: Chakra Petch;
}

#dead-panel .title-container {
    width: 100%;
    height: 40%;
    /*background-color: aqua;*/
}

#dead-panel .title-container .title {
    width: 100%;
    color: #fff;
    font-size: 7vw;
    margin-top: 2vh;
    text-align: center;
}

#dead-panel .title-container #score {
    width: 100%;
    color: #fff;
    font-size: 2vw;
    margin-top: -2vh;
    text-align: center;
}

#dead-panel .action-container {
    width: 50%;
    height: 45%;
    /*background-color: lime;*/
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#dead-panel .action-container .button {
    width: 35%;
    height: 20%;
    margin-bottom: 7vh;
    /* From https://css.glass */
    background: rgba(101, 101, 101, 0.36);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(101, 101, 101, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vh;
    color: #fff;
    user-select: none;
    cursor: pointer;
}
#dead-panel .action-container .button:hover{
    animation: flick 1s linear infinite;
}

@keyframes flick {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.05)
    }
    100%{
        transform: scale(1)
    }
}

#dead-panel .action-container .button::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--menubuttongradient);
    transform: scale(0.95);
    filter: blur(20px);
    opacity: 0;
    transition: opacity 0.3s;
    border-radius: inherit;
}

#dead-panel .action-container .button:hover::before,
#dead-panel .action-container .button[data-current="true"]::before {
    content: "";
    opacity: 0.7;
}

#dead-panel .action-container .button::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}

@keyframes BackgroundGradient {
    0% {
        background-position: 0% 51%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 51%
    }
}

@keyframes DeadPanelFadeIn {
    0% {
        opacity: 0;
        backdrop-filter: blur(0px);
    }
}