#page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

#return-button {
    width: 4vw;
    height: 4vw;
    border-radius: 40%;
    position: absolute;
    top: 2vh;
    left: 0.7vw;
    /* From https://css.glass */
    background-color: rgba(255, 255, 255, 0.41);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: all 0.5s;
    animation: fadeInLeft 0.5s;
    background-image: url(./icon/filled/left-arrow.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3vw;
    z-index: 3;
}

#return-button:hover {
    transform: translateX(-0.4vw);
    background-size: 4vw;
    border-radius: 50%;
}

#page #main-title {
    width: 20vw;
    height: 10vh;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.41);
    border-radius: 0 0 16px 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 0;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: fadeInTop 0.5s;
}

#page #main-title p {
    font-size: 4vh;
    color: #fff;
    font-family: Chakra Petch;
    font-weight: 600;
}

#page #main-title p:nth-child(2) {
    font-size: 6vh;
    color: #fff;
    font-family: Chakra Petch;
    margin-top: -1.5vh;
    font-weight: 500;
}

#page #main-content {
    width: 90vw;
    margin-top: 5vh;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.27);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.9px);
    -webkit-backdrop-filter: blur(5.9px);
    border: 1px solid rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    padding: 2vh 0 2vh 0;
    align-items: center;
}

#page #main-content .card {
    width: 90%;
    height: 9vh;
    background: rgba(255, 255, 255, 0.27);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.9px);
    -webkit-backdrop-filter: blur(5.9px);
    border: 1px solid rgba(255, 255, 255, 1);
    margin: 1vh 0 1vh 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    font-size: 3vw;
    font-weight: 600;
    font-family: Chakra Petch;
}
#page #main-content .card .content {
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2.5vw;
    font-weight: 500;
}

#page #main-content .card .content p:nth-child(2){
    font-size: 1vw;
}


@keyframes fadeInLeft {
    0% {
        margin-left: -20vw
    }
    100% {
        margin-left: 0
    }
}

@keyframes fadeInTop {
    0% {
        margin-top: -20vh;
        margin-bottom: 20vh;
    }
    100% {
        margin-top: 0;
        margin-bottom: 0;
    }
}